<nav class="navbar">
	<div class="hamburger"></div>
	<div class="headline-text">Lazard</div>
	<div class="search-icon"></div>
</nav>

<header>
	<div class="header-image">
		<div class="header-text">
			<div class="location-city">New York</div>
			<div class="location-coordinates">40.7586º N, 73.9792º W | 10:30:25AM EST</div>
		</div>
	</div>
</header>

<main class="main" role="main">
	<section class="module" type="about">
		<h2 class="title">About the Office</h2>
		<div class="content">
			<p>Lazard's largest office is in the iconic Rockefeller Center in midtown Manhattan. Our roots in the city extend to 1849, when Alexandre Lazard opened a branch of his Lazard Fréres. Lazard has been part of New York's financial and cultural fabric ever since. Virtually all of our Financial Advisory and Asset Management services are represented here, and New York is a principal office of our global network.</p>
		</div>
	</section>

	<section class="module" type="key-contact">
		<h2 class="title">Key Contact</h2>
		<div class="content">
			<div class="headshot-wrap">
				<img src="http://placehold.it/100">
			</div>
			<div class="name">David J. Solomon</div>
			<div class="position">CEO, Middle Market</div>
		</div>
	</section>

	<section class="module" type="directions">
		<h2 class="title">Directions</h2>
		<div class="content">
			<h4>From JFK</h4>
			<p>Take Queens Midtown Tunnel to Long Island Expressway East. Get off at Grand Central Pkwy East exit, Take it to the Van Wyck Expwy South (I-678) to Exit 2 (Rockaway Blvd). Get off and make a left onto Rockaway Blvd. and take it to 143rd Street (approx. 5 blocks). Make a right turn onto 143rd Street. Go to the end and you will see the hotel to your straight ahead.</p>

			<h4>From LGA</h4>
			<p>Take Queens Midtown Tunnel to Long Island Expressway East. Get off at Grand Central Pkwy East exit, Take it to the Van Wyck Expwy South (I-678) to Exit 2 (Rockaway Blvd). Get off and make a left onto Rockaway Blvd. and take it to 143rd Street (approx. 5 blocks). Make a right turn onto 143rd Street. Go to the end and you will see the hotel to your straight ahead.</p>
		</div>
	</section>

	<section class="module" type="contacts">
		<h2 class="title">Contacts</h2>
		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="contact-title">Inbound Sales Financial Advisory</div>
			<div class="phone">
				<span class="phone-number">+1 212 632 6000</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:first.last@lazard.com">first.last@lazard.com</a></div>
		</div>

		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="contact-title">Inbound Sales Financial Advisory</div>
			<div class="phone">
				<span class="phone-number">+1 212 632 6000</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:first.last@lazard.com">first.last@lazard.com</a></div>
		</div>

		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="contact-title">Inbound Sales Financial Advisory</div>
			<div class="phone">
				<span class="phone-number">+1 212 632 6000</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:first.last@lazard.com">first.last@lazard.com</a></div>
		</div>
	</section>

	<section class="module" type="jobs">
		<h2 class="title">Jobs in the New York Office</h2>
		<div class="job-wrap">
			<h4 class="job-title">2015 Investment Banking Summer Analyst</h4>
			<p class="division">Corporate Strategy</p>
			<p class="contract">Full Time</p>
			<p class="office">New York, New York</p>
		</div>

		<div class="job-wrap">
			<h4 class="job-title">2015 Investment Banking Summer Analyst</h4>
			<p class="division">M&amp;A/Restructuring</p>
			<p class="contract">Full Time</p>
			<p class="office">New York, New York</p>
		</div>

		<div class="job-wrap">
			<h4 class="job-title">2015 Investment Banking Summer Analyst</h4>TechnologyCorporate Strategy</p>
			<p class="contract">Full Time</p>
			<p class="office">New York, New York</p>
		</div>
	</section>

	<section class="module" type="news">
		<h2 class="title">Latest News</h2>
		<div class="news-wrap">
			<div class="icon"></div>
			<div class="news-item">
				<div class="news-title">
					Lazard Asset Management Hires Rupert Hope as Multi-Asset Portfolio Manager
				</div>
				<div class="detail">
					<div class="type">Press Release</div>
					<div class="date">06 OCT 2014</div>
				</div>
			</div>
		</div>

		<div class="news-wrap">
			<div class="icon"></div>
			<div class="news-item">
				<div class="news-title">
					Lazard Asset Management Hires Rupert Hope as Multi-Asset Portfolio Manager
				</div>
				<div class="detail">
					<div class="type">Press Release</div>
					<div class="date">06 OCT 2014</div>
				</div>
			</div>
		</div>

		<div class="news-wrap">
			<div class="icon"></div>
			<div class="news-item">
				<div class="news-title">
					Lazard Asset Management Hires Rupert Hope as Multi-Asset Portfolio Manager
				</div>
				<div class="detail">
					<div class="type">Press Release</div>
					<div class="date">06 OCT 2014</div>
				</div>
			</div>
		</div>

		<div class="wide-button">View All News</div>

	</section>
</main>
<footer>Footer</footer>