<nav class="navbar">
	<div class="hamburger"></div>
	<div class="headline-text">Lazard</div>
	<div class="search-icon"></div>
</nav>

<header>
	<div class="header-image">
		<div class="header-text">
			<div class="location-city">New York</div>
			<div class="location-coordinates">40.7586ยบ N, 73.9792ยบ W | 10:30:25AM EST</div>
		</div>
	</div>
</header>

<main class="main" role="main">
	<section class="module large" type="bio-page">
		<section class="headline">
			<div class="headshot-wrap">
				<img src="http://placehold.it/160x120">
			</div>
			<div class="name">David J. Solomon</div>
			<div class="position">CEO, Middle Market</div>
		</section>

		<hr class="partial">

		<section class="stats">
			<div class="label">Division</div>
			<div class="data" id="division">Financial Advisory, Middle Market</div>

			<div class="label">Office</div>
			<div class="data" id="office">New York, NY</div>

			<div class="label">Expertise</div>
			<div class="data" id="expertise">
				<p>Financial Services</p>
				<p>Healthcare</p>
			</div>
		</section>

		<hr>

		<section class="contact">
			<h2 class="title">Contact</h2>
			<div class="phone-button">+1 771 333 2222</div>
			<div class="email">
				<a href="david.solomon@Lazard.com">David.Solomon@Lazard.com</a>
			</div>
		</section>

		<hr>

		<section class="bio-text">
			<div class="title">Bio</div>
			<div class="content">
				<p>Mr. Solomon is a managing director and member of the healthcare group at Lazard Middle Market. He has more than 20 years of healthcare investment banking experience, during which time he has worked on over 50 completed strategic advisory and capital raising transactions with an aggregate value in excess of $100 billion. Mr. Solomon has broad experience in healthcare services, with particular expertise in distribution and outsourcing, clinical diagnostics, pharmacy services, contract research organizations, and other pharmaceutical services. Mr. Solomon's experience includes advising corporations and private equity groups on acquisitions and sales of public and private companies, leverages buy-outs and recapitalizations, special committee advisory assignments, corporate divestitures, and cross-border transactions. He also has significant capital markets experience, having led numerous equity, equity-linked and debt financings.</p>

				<div class="bio-highlight-wrap">
					<p class="bio-highlight-text">Lazard focuses on the client above all else. That vision guides every decision.</p>
				</div>

				<p>Recent representative transactions include advising Celerion Holdings, Inc. on its sale to a private quity consortium led by MTS Health Investors; Copernicus Group Institutional Review Board on its sale to Arsenal Capital Partners; Wolters Kluwer Pharma Solutions on the divestitute of its Marketing & Publishing Services Division to Springer Science + Business Media; Pharmaceutical Product Development on its sale to The Carlyle Group; Vanguard Health Systems on its IPO; Premier Inc. on its IPO; National Surgical Hospitals on its sale to Irving Place Capital; Laboratory Corporation of American Holdings on its acquisition of Genzyme Genetics, a business unit of Genzyme Corp.; and Chem Rx Corporation on its sale to PharMerica Corporation.</p>
				<p>Prior to joining Lazard Middle Market, Mr. Solomon was a managing director in the healthcare group at Credit Suisse.</p>
				<p>Mr. Solomon graduated magna cum laude and Phi Beta Kappa from Cornell University with a bachelor of arts degree in economics and government.</p>
			</div>
		</section>
	</section>
</main>

<footer>Footer Placeholder</footer>
