<nav class="navbar">
	<div class="hamburger"></div>
	<div class="headline-text">Lazard</div>
	<div class="search-icon"></div>
</nav>

<header>
	<div class="header-image">
		<div class="header-text">
			<h2 class="title">Contact</h2>
		</div>
	</div>
</header>

<main class="main" role="main">
	<section class="module" type="contacts">
		<h2 class="title">Media Inquiries</h2>
		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="phone">
				<span class="phone-number">+1 212 632 6000</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:first.last@lazard.com">email.address@lazard.com</a></div>
		</div>

		<hr>

		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="phone">
				<span class="phone-number">+1 212 632 6000</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:first.last@lazard.com">email.address@lazard.com</a></div>
		</div>
	</section>

	<section class="module" type=careers>
		<h2 class="title">Careers</h2>
		<div class="career-wrap">
			<div class="phone">
				<span class="phone-number">+212 222 3333</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:email.address@lazard.com">email.address@lazard.com</a></div>
		</div>
	</section>

	<section class="module" type="financial-advisory">
		<h2 class="title">Financial Advisory</h2>
		<div class="advisory-wrap">
			<div class="phone">
				<span class="phone-number">+1 222 3333</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:email.address@lazard.com">email.address@lazard.com</a></div>
		</div>
		<div class="advisory-wrap">
			<p>Lazard</p>
			<p>Attn: Client Services</p>
			<p>30 Rockefeller Plaza, 57th Floor</p>
			<p>New York, NY, 11000, USA</p>
		</div>
	</section>

	<section class="module" type="postal">
		<h2 class="title">Postal Correspondence</h2>
		<div class="content">
			<p>Lazard</p>
			<p>30 Rockefeller Plaza</p>
			<p>New York, NY, 10000, USA</p>
		</div>
	</section>
</main>

<footer>Footer</footer>