<nav class="navbar">
	<div class="hamburger"></div>
	<div class="headline-text">Lazard</div>
	<div class="search-icon"></div>
</nav>

<header class="office-page">
	<div class="header-image"></div>
	<h1 class="header-text">Global Offices</h1>
</header>

<main class="main office-page" role="main">
	<section class="module large" type="office-list">
		<ul>
			<li>New York</li>
			<li>Boston</li>
			<li>Charlotte</li>
			<li>Chicago</li>
			<li>Houston</li>
			<li>Los Angeles</li>
			<li>Minneapolis</li>
			<li>Montréal</li>
			<li>Radnor</li>
			<li>San Francisco</li>
			<li>Toronto</li>
		</ul>
	</section>

	<section class="module large" type="office-contact">
		<h3 class="city">New York</h3>

		<hr>

		<div class="contact-wrap">
			<div class="title">Lazard Financial Advisory</div>
			<div class="address">
				<p>30 Rockefeller Plaza</p>
				<p>New York, NY 10112</p>
			</div>
			<button class="get-directions">Get Directions</button>
			<div class="phone-button">+1 212 333 2222</div>
		</div>

		<hr>

		<div class="contact-wrap">
			<div class="title">Lazard Middle Market</div>
			<div class="address">
				<p>30 Rockefeller Plaza</p>
				<p>New York, NY 10112</p>
			</div>
			<button class="get-directions">Get Directions</button>
			<div class="phone-button">+1 212 333 2222</div>
		</div>

		<hr>

		<div class="contact-wrap">
			<div class="title">Asset Management</div>
			<div class="address">
				<p>30 Rockefeller Plaza</p>
				<p>New York, NY 10112</p>
			</div>
			<button class="get-directions">Get Directions</button>
			<div class="phone-button">+1 212 333 2222</div>
		</div>
	</section>

	<section class="module large" type="office-contact">
		<h3 class="city">Boston</h3>

		<hr>

		<div class="contact-wrap">
			<div class="title">Lazard Financial Advisory</div>
			<div class="address">
				<p>30 Rockefeller Plaza</p>
				<p>New York, NY 10112</p>
			</div>
			<button class="get-directions">Get Directions</button>
			<div class="phone-button">+1 212 333 2222</div>
		</div>

		<hr>

		<div class="contact-wrap">
			<div class="title">Lazard Middle Market</div>
			<div class="address">
				<p>30 Rockefeller Plaza</p>
				<p>New York, NY 10112</p>
			</div>
			<button class="get-directions">Get Directions</button>
			<div class="phone-button">+1 212 333 2222</div>
		</div>

		<hr>

		<div class="contact-wrap">
			<div class="title">Asset Management</div>
			<div class="address">
				<p>30 Rockefeller Plaza</p>
				<p>New York, NY 10112</p>
			</div>
			<button class="get-directions">Get Directions</button>
			<div class="phone-button">+1 212 333 2222</div>
		</div>
	</section>

</main>

<footer>Footer</footer>