<nav class="navbar">
	<div class="hamburger"></div>
	<div class="headline-text">Lazard</div>
	<div class="search-icon"></div>
</nav>

<header>
	<div class="header-image">
		<div class="header-text">
			<div class="location-city">New York</div>
			<div class="location-coordinates">40.7586ยบ N, 73.9792ยบ W | 10:30:25AM EST</div>
		</div>
	</div>
</header>

<main class="main" role="main">
	<section class="module" type="about">
		<h2 class="title">About the Office</h2>
		<div class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>

	<section class="module" type="directions">
		<h3 class="title">Lazard Middle Market</h3>
		<div class="content address">
			<p>600 Fifth Avenue</p>
			<p>Suite 800</p>
			<p>New York, NY 10020</p>
		</div>
		<div class="button">Open Map</div>

		<div class="content">
			<h4>Directions for your visit</h4>
			<p>The welcome desk is located nearest the 49 West 49th Street entrance to 30 Rockefeller Plaza, between 5th and 6th Avenues. It is open from 7am to 6pm, Monday through Friday, and may be accessed from the main floor lobby. At all other times, visitors may contact their hosts directly to organize a meeting.</p>
			<p>Visitors will be asked to provide a proper identification and will be given a temporary badge which grants access to Lazard's conference rooms located on the 64th floor. Visitors may also be asked to wait in our lounge to be greeted byt their hosts.</p>
		</div>
	</section>

	<section class="module" type="bio">
		<h2 class="title">Featured Banker</h2>
		<div class="headshot-wrap">
			<img src="http://placehold.it/250">
		</div>
		<div class="name">David J. Solomon</div>
		<div class="position">CEO, Middle Market</div>
		<div class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>

	<section class="module" type="contacts">
		<h2 class="title">Contacts</h2>
		<div class="contact-wrap">
			<div class="name">Reception</div>
			<div class="phone">
				<span class="phone-number">+1 212 632 6000</span>
				<span class="label">Phone</span>
			</div>
		</div>
		<div class="phone-button">+1 212 333 2222</div>
		<hr>
		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="contact-title">Inbound Sales Financial Advisory</div>
			<div class="phone">
				<span class="phone-number">+1 212 632 6000</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:first.last@lazard.com">first.last@lazard.com</a></div>
		</div>

		<hr>
		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="contact-title">Inbound Sales Financial Advisory</div>
			<div class="phone">
				<span class="phone-number">+1 212 632 6000</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:first.last@lazard.com">first.last@lazard.com</a></div>
		</div>
	</section>

	<section class="module" type="featured-jobs">
		<h2 class="title">Featured Jobs in the New York office</h2>
		<div class="content">
			<div class="featured-job-wrap">
				<div class="listing">2015 Investment Banking Summer Analyst - M&A/Restructuring (New York)(Job Number: 140891)</div>
				<div class="detail">Undergraduate, New York, NY</div>
			</div>

			<div class="featured-job-wrap">
				<div class="listing">2015 Investment Banking Summer Analyst - M&A/Restructuring (San Francisco)(Job Number: 140963)</div>
				<div class="detail">Undergraduate, San Francisco, CA</div>
			</div>
		</div>
	</section>

	<section class="module" type="news">
		<h2 class="title">Latest News</h2>
		<div class="news-wrap">
			<div class="icon"></div>
			<div class="news-item">
				<div class="news-title">
					Lazard Asset Management Hires Rupert Hope as Multi-Asset Portfolio Manager
				</div>
				<div class="detail">
					<div class="type">Press Release</div>
					<div class="date">06 OCT 2014</div>
				</div>
			</div>
		</div>

		<div class="news-wrap">
			<div class="icon"></div>
			<div class="news-item">
				<div class="news-title">
					Lazard Asset Management Hires Rupert Hope as Multi-Asset Portfolio Manager
				</div>
				<div class="detail">
					<div class="type">Press Release</div>
					<div class="date">06 OCT 2014</div>
				</div>
			</div>
		</div>

		<div class="news-wrap">
			<div class="icon"></div>
			<div class="news-item">
				<div class="news-title">
					Lazard Asset Management Hires Rupert Hope as Multi-Asset Portfolio Manager
				</div>
				<div class="detail">
					<div class="type">Press Release</div>
					<div class="date">06 OCT 2014</div>
				</div>
			</div>
		</div>

		<div class="wide-button">View All News</div>

	</section>
</main>

<footer>Film Strip FPO</footer>
