<nav class="navbar">
	<div class="hamburger"></div>
	<div class="headline-text">Lazard</div>
	<div class="search-icon"></div>
</nav>

<header>
	<div class="header-image">
		<div class="header-text">
			<div class="location-city">New York</div>
			<div class="location-coordinates">40.7586ยบ N, 73.9792ยบ W | 10:30:25AM EST</div>
		</div>
	</div>
</header>

<main class="main" role="main">
	<section class="module">
		<h2 class="title">Investor Relations</h2>
		<div class="content">
			<p>Lazard became a public firm in 2005. We trade on the New York Stock Exchange under the ticker symbol LAZ.</p>
			<p>For the past 10 years, we have been proud to provide clear and transparent financial communications to our fellow investors.</p>
		</div>
	</section>

	<section class="module" type="stock-price">
		<h2 class="title">Stock price</h2>
		<div class="content">
			<div class="datetime">Feb 23 12:35 PM ET</div>
			<div class="ticker-name">NYSE: LAZ</div>
			<div class="stock-price">
				<div class="current-price">50.96</div>
				<div class="change">- 0.17 (0.33%)</div>
			</div>
			<div class="daily-record">
				<div class="high">Day High: 51.53</div>
				<div class="low">Day Low: 50.54</div>
			</div>
		</div>
	</section>

	<section class="module" type="investor-kit">
		<h2 class="title">Investor Kit</h2>
		<div class="investor-kit-wrap">
			<h4 class="kit-title">Latests Earnings Releases and 10-Q</h4>
			<hr>
			<p>Fourth Quarter Financial Results</p>
			<p>Fourth 10-Q</p>
		</div>

		<div class="investor-kit-wrap">
			<h4 class="kit-title">Latest Annual Report and 10-K</h4>
			<hr>
			<p>2013 Annual Report</p>
			<p>Fourth 10-K</p>
		</div>

		<div class="investor-kit-wrap">
			<h4 class="kit-title">Latest Proxy Statement</h4>
			<hr>
			<p>Proxy Statement</p>
		</div>

		<div class="investor-kit-wrap">
			<h4 class="kit-title">Latest Investor Relations Presentation</h4>
			<hr>
			<p>Investor Relations Presentation</p>
		</div>
	</section>

	<section class="module" type="announcements">
		<h2 class="title">Recent Announcements</h2>
		<div class="announcement-wrap">
			<p class="date">Oct 3 2014</p>
			<h4 class="announcement-title">Lazard Chairman and Chief Executive Officer Kenneth Jacobs to Present at the Goldman Sachs Financial Services Conference</h4>
			<p class="exceprt">NEW YORK, February 6, 2015 - Lazard Ltd (NYSE: LAZ) announced today that...</p>
		</div>

		<div class="announcement-wrap">
			<p class="date">Oct 3 2014</p>
			<h4 class="announcement-title">Lazard Chairman and Chief Executive Officer Kenneth Jacobs to Present at the Goldman Sachs Financial Services Conference</h4>
			<p class="exceprt">NEW YORK, February 6, 2015 - Lazard Ltd (NYSE: LAZ) announced today that...</p>
		</div>

		<div class="announcement-wrap">
			<p class="date">Oct 3 2014</p>
			<h4 class="announcement-title">Lazard Announces Results of Cash Tender Offer of Lazard Group LLC</h4>
			<p class="exceprt">Lazard Ltd announced today that its subsidiary Lazard Group LLC is...</p>
		</div>
		<div class="wide-button">View All Announcements</div>
	</section>

	<section class="module" type="contacts">
		<h2 class="title">IR Contacts</h2>
		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="phone">
				<span class="phone-number">+1 212 454 2343</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:firstname.lastname@lazard.com">firstname.lastname@lazard.com</a></div>
		</div>

		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="phone">
				<span class="phone-number">+1 212 454 2343</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:firstname.lastname@lazard.com">firstname.lastname@lazard.com</a></div>
		</div>

		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="phone">
				<span class="phone-number">+1 212 454 2343</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:firstname.lastname@lazard.com">firstname.lastname@lazard.com</a></div>
		</div>
	</section>
</main>
<footer>Footer</footer>