<nav class="navbar">
	<div class="hamburger"></div>
	<div class="headline-text">Lazard</div>
	<div class="search-icon"></div>
</nav>

<header>
	<div class="header-image">
		<div class="header-text">
			<div class="location-city">New York</div>
			<div class="location-coordinates">40.7586º N, 73.9792º W | 10:30:25AM EST</div>
		</div>
	</div>
</header>

<main class="main" role="main">

	<section class="module" type="our-firm">
		<h2 class="title">Our Firm</h2>
		<div class="content">
			<p>Lazard's culture is based on both a spirit of global collaboration and great respect for the individual.</p>
			<a href="">Read More ></a>
		</div>
	</section>

	<section class="module" type="people">
		<h2 class="title">People</h2>
		<div class="content">
			<p>Meet some of the... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum rem</p>
			<p>Learn about our exp... Lorem ipsum dolor sit amet, consectetur adipisicin</p>
			<a href="">Meet our leaders ></a>
		</div>
	</section>

	<section class="module" type="by-the-numbers">
		<h2 class="title">By The Numbers</h2>
		<div class="content">
			<ul>
				<li>165+ - years we have been advising clients</li>
				<li>43 - offices</li>
				<li>27 - countries</li>
				<li>70 - clients in over 70 countries</li>
				<li>35+ - Years we have been active in emerging markets</li>
			</ul>
		</div>
	</section>

	<section class="module" type="culture">
		<h2 class="title">Culture</h2>
		<div class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ad sapiente ipsam suscipit at cum accusamus aliquid quia. Fugiat tempora nemo, natus assumenda dignissimos velit architecto dicta enim unde consectetur.</p>
			<p>Lazard's culture is based on wisdom and intelligence. It is based on the courage to do what might not be popular, but what is in our clients' best interest. We value the ideas and decisions of the individual. At the same time, we tap our network of colleagues to move transaction forward. We are both global and deeply connected.</p>
		</div>
	</section>

	<section class="module" type="history">
		<h2 class="title">History</h2>
		<div class="content">
			<p>Meet some of the...</p>
			<p>Learn about our exp...</p>

			<a href="">Explore ></a>
		</div>
	</section>

	<section class="module" type="alliances">
		<h2 class="title">Alliances</h2>
		<div class="content">
			<p>Story Tile - Alliances</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nostrum laboriosam veniam expedita, eos quam, debitis et ea. Blanditiis quia rerum, quam necessitatibus. Quo sint at, blanditiis deserunt hic voluptas!</p>
		</div>
	</section>

	<section class="module" type="key-information">
		<div class="content">
			<p>Printable PDF's for key information about Lazard.</p>
			<ul>
				<li><a href="">English</a></li>
				<li><a href="">Français</a></li>
				<li><a href="">Deutsch</a></li>
				<li><a href="">Italiano</a></li>
				<li><a href="">Espanñol</a></li>
				<li><a href="">Portugés</a></li>
				<li><a href="">日本人</a></li>
				<li><a href="">中国</a></li>
			</ul>
		</div>
	</section>

</main>
<footer>Services CTA</footer>