<!DOCTYPE html>

<!--[if lt IE 6]>	<html class="ie		lt-ie10 lt-ie9 lt-ie8 lt-ie7 lt-ie6">	<![endif]-->
<!--[if IE 6]>		<html class="ie ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7">			<![endif]-->
<!--[if IE 7]>		<html class="ie ie7 lt-ie10 lt-ie9 lt-ie8">					<![endif]-->
<!--[if IE 8]>		<html class="ie ie8 lt-ie10 lt-ie9">						<![endif]-->
<!--[if IE 9]>		<html class="ie ie9 lt-ie10">								<![endif]-->
<!--[if IE 10]>		<html class="ie ie10">										<![endif]-->
<!--[if gt IE 10]>	<html class='ie gt-ie10'>									<![endif]-->
<!--[if !IE]><!-->	<html class='not-ie'>            							<!--<![endif]-->

<head>

    <title>Lazard: A Site For Monies</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->

</head>

<body screen="<%- screen %>" class="no-js" id="body">

    <%- body %>

    <!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" defer></script>
    <script id="#live-reload" src="//localhost:35729/livereload.js" defer></script>
    <script src="/js/script.js" defer></script>
    <!--SCRIPTS END-->

</body>

</html>
