<nav class="navbar">
	<div class="hamburger"></div>
	<div class="headline-text">Lazard</div>
	<div class="search-icon"></div>
</nav>

<header>
	<div class="header-image">
		<div class="header-text">
			<div class="location-city">New York</div>
			<div class="location-coordinates">40.7586ยบ N, 73.9792ยบ W | 10:30:25AM EST</div>
		</div>
	</div>
</header>

<main class="main" role="main">
	<section class="module" type="news">
		<h2 class="title">News</h2>
		<div class="news-item-wrap">
			<p class="date">Oct 3 2014</p>
			<h4 class="announcement-title">Lazard Chairman and Chief Executive Office Kenneth Jacobs to Present at the Goldman Sachs Financial Services Conference</h4>
			<p class="exceprt">NEW YORK, February 6, 2015 - Lazard Ltd (NYSE:LAZ) announced today that...</p>
		</div>

		<div class="news-item-wrap">
			<p class="date">Oct 3 2014</p>
			<h4 class="announcement-title">Lazard Chairman and Chief Executive Office Kenneth Jacobs to Present at the Goldman Sachs Financial Services Conference</h4>
			<p class="exceprt">NEW YORK, February 6, 2015 - Lazard Ltd (NYSE:LAZ) announced today that...</p>
		</div>

		<div class="news-item-wrap">
			<p class="date">Oct 3 2014</p>
			<h4 class="announcement-title">Lazard Announces Results of Cash Tender Offer of Lazard Group LLC</h4>
			<p class="exceprt">Lazard Ltd announced today that its subsidiary Lazard Gr	oup LLC is...</p>
		</div>
		<div class="wide-button">View Lazard in the News</div>
	</section>

	<section class="module" type="contacts">
		<h2 class="title">Media Contacts</h2>
		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="phone">
				<span class="phone-number">+1 212 454 2343</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:firstname.lastname@lazard.com">firstname.lastname@lazard.com</a></div>
		</div>

		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="phone">
				<span class="phone-number">+1 212 454 2343</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:firstname.lastname@lazard.com">firstname.lastname@lazard.com</a></div>
		</div>

		<div class="contact-wrap">
			<div class="name">Firstname Lastname</div>
			<div class="phone">
				<span class="phone-number">+1 212 454 2343</span>
				<span class="label">Phone</span>
			</div>
			<div class="email"><a href="mailto:firstname.lastname@lazard.com">firstname.lastname@lazard.com</a></div>
		</div>
	</section>

	<section class="module" type="company-announcements">
		<h2 class="title">Company Announcements</h2>
		<div class="announcement-wrap">
			<div class="date">Oct 3 2014</div>
			<div class="announcement">
				<div class="announcement-text">Lazard Chairman and Chief Executive Office Kenneth Jacobs to Present at the Goldman Sachs Financial Serices Conference</div>
				<div class="filed">
					<span class="label">Filed Under:</span>
					<span class="folder">Financial Advisory</span>
				</div>
			</div>
		</div>
	</section>
</main>
<footer>Footer</footer>